* {
  box-sizing: border-box;
  outline: none;
}

.root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./img/background.png);
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

.main_app {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  
}

.products_list {
  flex: 1;
  display: block;
  padding: 40px 32px 40px 56px;
}

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.table_head {
  position: relative;
  width: 100%;
  padding: 32px 0;
  list-style: none;
}

.col-product {
  width: 45%;
  display: flex;
  align-items: center;
}

.col-quantity {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-price {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-total {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-list_title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.items_list {
  padding-left: 0;
}

.item_product {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.item_description {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 45%;
   
}

.product_image {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.button_detail {
  border: none;
  background: none;
  cursor: pointer;
}

.item_text {
  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #7350ff;
}

.product_description {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.item_quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.button_quantity {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;
}

.input_quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.item_price {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price_number {
  color: #000000;
  font-size: 16px;
}

.price_currency {
  margin-left: 4px;
}

.item_total {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.summary_products_items {
  margin-left: 4px;
} 

.summary_total_price {
  font-size: 16px;
  font-weight: bold;
}

.summary_discounts {
  padding: 24px 0;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16)
}

.discounts_list {
  list-style: none;
  margin-top: 16px;
  padding: 0;
}

.discount_type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.discount_number {
  font-weight: bold;
}

.summary_total {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary_total_cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary_total_text {
  font-size: 14px;
  line-height: 17px;
  flex-basis: 100%;
  text-transform: uppercase;
}

.summary_total_price {
  font-size: 20px;
  line-height: 25px;
}

.summary_button {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.main_detail {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #212240;
  opacity: 0.7;
  background-position: top left;
  background-size: cover;
}

.box_info_detail {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 500px;
  max-height: 300px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 1;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.detail_flex {
  display: flex;
  flex-direction: row;
}

.detail_image {
  margin-right: 16px;
  width: 200px;
  height: 200px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.detail_info {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 200px;
  height: 200px;
  background-color: #f3f3f3;
  color: #212240;
}

.button_close {
  position: absolute;
  margin-left: 430px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.detail_name {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #7350ff;
}

.detail_description {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.detail_price {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}